version: '3.8'

services:
  birthday-agent:
    image: lucasdadev/homelab:birthday-agent-latest
    container_name: birthday-agent
    env_file:
      - .env
    networks:
      - homelab-network
    restart: unless-stopped
    volumes:
      - ./logs:/var/log

networks:
  homelab-network:
    external: true
